<div class="block-cart-summary bg-white rounded-lg shadow-md p-6 md:col-span-1">
    <h2 class="text-xl font-bold mb-4">Cart Summary</h2>
    <div id="cart-summary" class="space-y-4">
        <div class="flex justify-between">
            <span class="font-medium">Service:</span>
            <span id="selected-service" class="font-bold">Basic Wash - R60.00</span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium">Car Type:</span>
            <span id="selected-car-type" class="font-bold">Sedan/Hatchback + R10.00</span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium">Location:</span>
            <span id="selected-location" class="font-bold">House Call + R30.00</span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium">Date:</span>
            <span id="selected-date" class="font-bold">N/A</span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium">Time:</span>
            <span id="selected-time" class="font-bold">N/A</span>
        </div>
    </div>

    <div class="mt-4 border-t border-gray-300 pt-4">
        <div class="flex justify-between">
            <span class="font-semibold">Total:</span>
            <span id="total-price" class="font-bold">R100.00</span>
        </div>
    </div>

    <button type="submit" class="w-full bg-blue-600 text-white font-bold py-2 mt-4 rounded-md hover:bg-blue-700 transition duration-300">Proceed to Payment</button>
    <button type="submit" class="w-full bg-teal-600 text-white font-bold py-2 mt-4 rounded-md hover:bg-teal-700 transition duration-300">Use Discount Code</button>
</div>
